@import "tailwindcss";

@theme {
  --font-cinzel: var(--font-cinzel);
  --font-inter: var(--font-inter);
  
  --color-gold-500: #ffd700;
  --color-gold-600: #d4af37;
  --color-deep-red: #4a0404;
}

body {
  font-family: var(--font-inter);
  background-color: #000;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cinzel);
}
